# Environment variables
.env
.env.*

# Node dependencies
node_modules/

# Frontend builds
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Redis
dump.rdb

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

# Coverage
coverage/

# Python
venv/
__pycache__/
*.pyc
